body {
  margin: 0;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
}

input[type=range] {
  position: absolute;
  top: 10px;
  width: 20px;
  height: 80%;
  -webkit-appearance: slider-vertical;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}

#pixelSlider {
  left: 10px;
}

#thresholdSlider {
  right: 10px;
}

button#audioBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0.3);
  border: none;
  cursor: pointer;
  font-size: 16px;
}
